@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'TT Drugs', sans-serif;
    background-color: #fffee1; /* Light cream background */
    text-align: center;
    padding: 20px;
    color: black;
}

h1 {
    color: #146f77; /* Dark teal */
}

p {
    font-size: 18px;
    color: #237778; /* Deep sea green */
}

button {
    background-color: #34b2ae; /* Vibrant teal */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #2dafa1; /* Slightly darker teal */
}

img {
    max-width: 100%;
    height: auto;
    border: 3px solid #f3ea34; /* Yellow border */
    border-radius: 10px;
    margin: 20px 0;
}
