@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.index, .about, .shop, .wholesale, .checkout, .thank-you {
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 50px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fffee1;
    text-align: center;
    padding: 100px 20px 20px;
    color: black;
}

h1 {
    color: #146f77;
    font-size: 32px;
    font-weight: 600;
}

h2 {
    color: #237778;
    font-size: 24px;
    font-weight: 400;
    margin-top: 20px;
}

p, li {
    font-size: 18px;
    color: #237778;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6;
}

ul, ol {
    max-width: 700px;
    margin: 0 auto;
}

img.logo {
    display: block;
    margin: 0 auto;
    max-width: 250px;
}

form {
    background: #fffee1aa;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 20px auto;
}

form * {
    font-family: 'Poppins', sans-serif;
    color: #fffee1;
}

input, tex

